<%- include('header'); -%>

 
  <div class="container">
    <h3 class="text-center pt-3 display-5"><%= title %></h3>

  <hr style="color: aqua;">

  <h4>As I am also just learning about Web Technology, what I have penned here is only my experience while building this project.</h4> 
<p>  
</p><p>
1. **For node.js and express.js, I am still learning slowing. 
</p><p>
2. You can start a new project by first creating a folder say appToday, 
<ul>
<li>cd appToday</li>
<li>npm init</li>
<li>npm install express ejs </li></ul> 
<p>You started a node project called appToday. Need to put in more hardwork to see it really working!</p>
</p><p>
3. **ejs templating engine works well with the routes ** There are other engine to learn too.

   </p>  <p> 
  4. **JavaScript is essential for all these projects.
  </p>   <p>
  5. **HTML, CSS and bootstrap are just as important.
  </p> <p>
  6. *From this project, I will need to learn more about controller and routes, more error handling concepts.
  
  
    </p>

<hr style="color: aqua;">
    </div>

 


  <%- include('footer'); -%>