<%- include('header'); -%>

 
  <div class="container">
    <h3 class="text-center pt-3 display-5"><%= title %></h3>

  <hr style="color: aqua;">

  <p>  
  1. <strong>**What app or program did I use in this project?**</strong>
  <ul>
   <li>node.js</li>
   <li>express.js</li>
   <li>MongoDB</li>
   <li>JavaScript</li>
   <li>ejs template engine</li>
   <li>HTML</li>
   <li>CSS</li>
   <li>Docker</li>
   <li>bootstrap</li>
  </ul>
  </p>   <p>
  2. <strong>**Helpful resources I discovered**</strong>
  <ul>
   <li>Mdn web docs has lots of useful resources. I love the new MDN Curriculum.  
   </li>
   <li><i>A very useful tutorial</i>: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website - I need to learn more about controller and routes.</li>
   <li>Use of Docker to experiment with new app that you are learning.
     - I have build this app placing a database in a Docker container.
     - Docker website has comprehensive tutorial.
     </li>
   
  </ul>
  3. <strong>** What features did I like here?**</strong>
  <ul>
   <li>I love this responsible nav that if I have a website, I would be using it.
   </li>
   <li>You can add as many links to pages as you like, use the drop down.</li>
   <li>You can add icons and link to pages that you wanted them to stay persistently and not collapse.
     </li>
   <li>More links can collapse on small screen size.
     </li>
   <li>the tone button at the right hand top corner can change tone. Check out <a href="/theme">Theme page with some explanation</a>     </li>
   
  </ul>
    </p>   <p> 
  
    </p>

<hr style="color: aqua;">
    </div>

 


  <%- include('footer'); -%>